@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  overflow: hidden;
}
.App {
  display: flex;
  flex-direction: column;
  height: inherit;
  position: relative;
  .loader {
    background-color: beige;
    font-size: 2.5em;
    font-weight: bold;
    color: #6b6b06;
    z-index: 1;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url(https://via.placeholder.com/150);
  }
}

.create-container {
  flex: 1;
  display: flex;
  margin-bottom: 20px;
}
.slick-list {
  margin: 0 25px;
}

.slick-slide {
  border-radius: 10px;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: beige;
  }
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-prev,
.slick-next {
  &:before {
    color: #949409;
  }
}

.meme-slide {
  margin: 0;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &.selected {
    border-radius: 10px;
    background-color: beige;
    figcaption {
      font-weight: bold;
    }
  }
  figcaption {
    margin-top: 0.5em;
    color: #6b6b06;
  }
}

.meme-slide {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  figcaption {
    color: #6b6b06;
  }
}

.meme-final {
  .meme-final__fig {
    margin: 0 40px;
    img {
      max-height: 100%;
    }
  }
}

.caption-form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: beige;
  border-radius: 10px;
  margin-right: 40px;
  justify-content: space-between;
  flex: 1;
}

input[type='text'] {
  margin: 10px 0;
  height: 40px;
  border-radius: 10px;
  font-family: inherit;
  padding: 0 4px;
  border-style: none;
  &:focus {
    outline: none;
  }
}

.btn {
  height: 40px;
  border-radius: 10px;
  box-shadow: none;
  font-family: inherit;
  font-weight: bold;
  background-color: #f1f18e;
  border-style: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #949409;
    color: white;
    transition: all 100ms linear;
  }
}
.h-100 {
  height: 100%;
}
.h-e {
  height: inherit;
}
.flex-1 {
  flex: 1;
}
.f-c {
  display: flex;
  flex-direction: column;
}
